.picker {
    grid-column: 5/10;
    grid-row: 2/4;
    font-size: 80px;

    padding-bottom: 60px;
  
    


    input {
        font-family: "Roboto Condensed";
        font-weight: bold;
        color: $color-grey-one;
        text-align: center;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid #E2B924;
        &:focus {
            outline: none;
        }
    }
}